body {
    text-align: center;
    background: url(images/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}
#title {
    font-size: x-large;
    color:#fff;
    padding-bottom: 20px;
    
}
#wrap {
	max-width:900px;
	min-width:600px;
	margin-left: auto;
	margin-right: auto;
}    
#menu {
    background: linear-gradient(#02022B, #41ADC6);
    border: 5px double #17F5FF;
    margin-bottom: 10px;
    border-radius: 10px;
}
#menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
#menu li {
    display: inline-block;
    list-style: none;
    position: relative;
}
#menu a {
    font: normal 12px/24px Arial;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    box-sizing: border-box;
    border-left: 5px double #17F5FF;
    border-right: 5px double #17F5FF;
    display:block;
}
#menu a:hover {
    color: #92c8c6;
    background: linear-gradient(#41ADC6, #02022B);
}
#content {
    background-color: rgba(146, 200, 198, 0.7);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
#content p {
    text-align: justify;
}
#content img {
    border-radius: 10px;
    height: auto;
    max-width: 300px;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
    float: left;
}
#content img.expanded {
    max-width: 100%;
}
#content img:hover {
    opacity: 0.8;
}
#content a {
    color: black;
    text-decoration: none;
}
#content a:hover {
    color: #0094ff;
}