                <h2>About Random Moments</h2>
                <p>
                    Random Moments is a website made for the purpose of sharing 
                    funny or just random moments of gaming through images. The content may
                    vary from glitches to just meaningless pictures.<br>
                    This website owes it's existence to a subject "Web Applications I",
                     since I created it for the sole purpose of getting a grade. <br>
                    Since I hate making something that has no meaning whatsoever, I
                    came up with the idea of sharing screenshots. I have never been an 
                    avid gamer, but from time to time it's great to loosen up and 
                    enjoy what the developers have had their mind set to. <br>
                    All You have to do to share Your own collection, is to create an account
                    and start uplaoding!
                    <br>
                    <br>
                    Author: MKivisild
                    <br>
                    (PS! Many features on this page are not yet functional.)
                </p>