                <h2>Welcome to my new website!</h2>
                <p>Browse through uploaded images of random moments in gaming.
                The aim of the website is to let people share funny or just random moments
                they experience or encouter while playing video games.
                Here's an example of a glitch that happened way back when I was still playing
                World of Warcraft:
                </p>
                <a href="uploaded/wowrandom.jpg">
                    <img src="uploaded/wowrandom.jpg" alt="WoW random pic" title="WoW glitch"/>
                </a>
