                <h2>Login to Your account!</h2>
            <form action="?mode=auth" method="POST">
		        <table>
				        <tr>
					        <td>Username:</td>
				        	<td>
						        <input type="text" name="username" value="<?php echo @$_SESSION['username']; ?>"/>
					        </td>
        				</tr>
				        <tr>
					        <td>Password:</td>
					        <td>
						        <input type="password" name="password"/>
					        </td>
				        </tr>
				        <tr>
                            <td></td>
				        	<td>
						        <input type="submit" value="Log In!"/>
					        </td>
				        </tr>
				        <tr>
					        <td colspan="2">
						        <a href="?mode=register" title="register">Don't have an account? Click here!</a>
					        </td>
				        </tr>
                    <?php if (isset($errors)):?>
					    <?php foreach($errors as $error):?>
						    <tr style="color:#ff6a00;">
							    <td colspan="2"><?php echo htmlspecialchars($error); ?></td>
						    </tr>
					    <?php endforeach;?>
				    <?php endif;?>
			        </table>
		        </form>