<h2>Upload a random moment!</h2>
<form action="?mode=upl" method="POST" enctype="multipart/form-data">
		        <table>
				        <tr>
					        <td>Title:</td>
				        	<td>
						        <input type="text" name="title"/>
					        </td>
        				</tr>
				        <tr>
					        <td>Description:</td>
					        <td>
						        <input type="text" name="description"/>
					        </td>
				        </tr>
                        <tr>
					        <td>Image:</td>
					        <td>
						        <input type="file" name="image"/>
					        </td>
				        </tr>
				        <tr>
                            <td></td>
				        	<td>
						        <input type="submit" value="Upload!"/>
					        </td>
				        </tr>
                    <?php if (isset($errors)):?>
					    <?php foreach($errors as $error):?>
						    <tr style="color:#ff6a00;">
							    <td colspan="2"><?php echo htmlspecialchars($error); ?></td>
						    </tr>
					    <?php endforeach;?>
				    <?php endif;?>
			        </table>
		        </form>